.transparent {
  background-color: transparent;
}

.links {
  text-align: center;
  margin: 1rem 0;

  color: #ccc;
  & > a {
    color: #ccc;
    margin: 0 .5rem;
    text-decoration: none;
  }
}

.madeByText {
  font-size: 0.9rem;
  color: #eee;

  & > a {
    color: #eee;
  }
}

