@import '../../src/global.css';

.container {
  text-align: center;
}

.splash {
  position: relative;

  &:hover .breakingBao path,
  &:hover .bun path,
  &:hover .fusion path {
    fill-opacity: 1;
  }

  &:hover .breakingBao path {
    transform: translate(0, -5px);
  }
  &:hover .bun path {
    fill: #e2460d;
    transform: scale(1.05,1.05) translate(-15px, -22px);
  }
  &:hover .estd path {
    transform: translate(-10px, 0);
  }
  &:hover .twenty path {
    transform: translate(10px, 0);
  }
  &:hover .fusion path {
    transform: translate(0, 5px);
  }
}

.splash path {
  fill: #1b1b1c;
  fill-opacity: .6;
  stroke: none;
  fill-rule: nonzero;
  transition: transform 0.4s ease-in-out, fill-opacity 0.4s ease-in-out, fill 1.2s ease-in-out;
}

.splash .breakingBao path {
  fill-opacity: 1;
}

.splash .fusion path {
  fill-opacity: 0;
  transition: transform .8s ease-in, fill-opacity .4s ease-in-out, fill 1s ease-in-out;
}

.splash .bun path {
  position: relative;
  fill: #511e0b;
  transition: transform .4s ease-in, fill-opacity .4s ease-in-out, fill .3s ease-in;
}
