@import './_icons.css';

html,
body,
#root {
  font-family: 'Dosis', serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h5,
h6 {
  font-family: 'Dosis', serif;
}

p {
  font-size: 16px;
}

a {
  color: #ff4081;
  font-weight: 500;
}

