@import '../global.css';

.event {
  margin-bottom: 40px;

  & > header {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    flex-flow: row wrap;

    & mark {
      padding: 10px 7px;
      background-color: black;
      color: white;
    }

    & > mark[name='accent'] {
      background-color: #ff4907;
    }
  }

  & div[name='time'] {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 0;
  }

  & div[name='location'] {
    margin: 5px 0;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  & div[name='description'] {
    margin: 5px 0;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .pageTitle {
    padding: 0 12px;
  }

  .content {
    padding: 0;
  }
}
