:root {
  --color: #607d8b;
}

.logo {
  transform: rotate(180deg);
}

svg.logo path {
  fill: var(--color);
}

.content {
  padding-bottom: 80px;
  text-align: center;
}

.code {
  margin: 0;
  color: var(--color);
  letter-spacing: 0.02em;
  font-weight: 300;
  font-size: 15em;
  line-height: 1;
}

.title {
  padding-bottom: 0.5em;
  color: var(--color);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1em;
}

@media only screen and (max-width: 280px) {
  .title {
    margin: 0 0 0.3em;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }

  .code {
    font-size: 10em;
  }

  .title {
    font-size: 1.5em;
  }
}
