{
  "rules": {
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "react/jsx-wrap-multilines": 0
  }
}
