:global(html, body) {
  font-family: 'Dosis', serif;
}

:global(h5, h6) {
  font-family: 'Dosis', serif;
}

:global(p) {
  font-size: 16px;
}

@keyframes :global(grow) {
  from {
    width: 10%;
    opacity: 1;
  }
  to {
    width: 60%;
    opacity: .75;
  }
}

@keyframes :global(bounce) {
  from {
    top: 0;
  }
  to {
    top: -30px;
  }
}

:global(h3) :global {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

:global(h3:after) :global {
  display: block;
  position: absolute;
  margin-top: 5px;
  width: 60%;
  height: 5px;
  background-color: #000;
  opacity: .75;
  content: "";
  animation: 1.25s grow ease-in-out;
}
